<html xmlns:th="http://www.thymeleaf.org">
    <script th:fragment="script" id="tailwind-config">
        tailwind.config = {
            darkMode: "class",
            theme: {
                extend: {
                    colors: {
                        "primary": "#3a6287",
                        "primary-dim": "#2d567a",
                        "primary-container": "#abd3fd",
                        "on-primary": "#f7f9ff",
                        "surface": "#f8f9fe",
                        "on-surface": "#2d333a",
                        "on-surface-variant": "#5a6067",
                        "outline-variant": "#adb2bb",
                        "surface-container-low": "#f1f3fa",
                        "surface-container-lowest": "#ffffff"
                    }
                }
            }
        }
    </script>
</html>
